div.cm-info-container{
    height: 100%;
    div.cm-info-title{
        font-size: 2rem;
        display: flex;
        align-items: flex-end;
        flex: 0 1 auto;
        mat-icon{
            font-size: 2rem;
            margin-right: 10px;
        }
    }

    div.cm-info-content{
        flex: 1 1 auto;
        padding: 40px 20px 0px 20px;
        box-sizing: border-box;
        div.cm-tabs-header{
            margin-bottom: 40px;
            div.cm-tab-title{
                display: flex;
                align-items: flex-end;
                margin-right: 30px;
                cursor: pointer;
                color: gray;
                outline: none !important;
                &.router-link-active{
                    color: black;
                }
            }

        }
    }
}